**/build/
indent.log
output/

# OS artifacts
Thumbs.db
Desktop.ini
.DS_Store

*.cache/
*.hw/
*.ip_user_files/
*.sim/

*.xpr
*.wcfg

/convolution-verilog/FFT/*
!/convolution-verilog/FFT/FFT.srcs/
!/convolution-verilog/FFT/FFT.srcs/**